/************************ BASE STYLES ************************/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #757575;
    background-color: #baffee;
    text-align: center;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 70%;
}

button {
    width: 50%;
    padding: 20px 0;
    margin: 60px 0 20px 0;
    border-radius: 70px;
    background-color: #ff7878;
    border: none;
    color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
}

button:hover {
    background-color: #ffffff;
    color: #757575;
}

/***** Mobile Styles *****/

/* Header */

header {
    background-color: #ffffff;
    padding: 1vh 0;
    border-bottom: #ff7878 solid 3px;
}

h1 {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 7em;
    color: #ff7878;
}

/* Instructions */

#instructions {
    padding: 70px 0;
}

h2 {
    font-size: 4em;
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

#instructions p {
    font-size: 1.2em;
    margin: 10px 0 0 0;
}

#instructions p span {
    font-style: italic;
}

/* Story Form */

#story-form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #ff7878 solid 3px;
    border-radius: 30px;
    padding: 2vh;
}

.story-input {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 70%;
}

.story-input label {
    font-size: 2em;
    padding-bottom: 25px;
}

.story-input input {
    height: 40px;
    border: #ff7878 solid 2px;
    border-radius: 30px;
    text-align: center;
    font-size: 2em;
    color: #757575;
}

.story-input input:focus {
    outline: none;
    border-color: #757575;
}

/* Story */

#story {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #ff7878 solid 3px;
    border-radius: 30px;
    padding: 2vh;
}

#story p {
    font-size: 1.2em;
    line-height: 4em;
}

#story p span {
    font-family: 'Indie Flower', cursive;
    color: #ff7878;
    font-size: 2em;
    padding: 0 10px;
}

/* Footer */

footer {
    padding: 50px 0 20px 0;
}

/***** Tablet Styles *****/

@media only screen and (min-width: 768px) {
    
    /* Header */

    h1 {
        font-size: 5em;
    }

    /* Instructions */

    #instructions {
        width: 60%;
        padding: 50px 0
    }

    h2 {
        font-size: 3em;
    }

    /* Story Form */

    .story-input label {
        font-size: 1.5em;
    }

}

/***** Desktop Styles *****/

@media only screen and (min-width: 1024px) {

    /* Header */

    h1 {
        font-size: 3em;
    }

    /* Instructions */

    #instructions {
        width: 46%;
        padding: 35px 0;
    }

    h2 {
        font-size: 2em;
    }

    #instructions p {
        font-size: 1em;
    }

    /* Story Form */

    #story-form {
        width: 50%;
    }

    .story-input {
        width: 60%;
    }

    .story-input label {
        font-size: 1em;
        padding-bottom: 15px;
    }

    .story-input input {
        font-size: 1em;
        height: 30px;
    }

    button {
        width: 35%;
        font-size: 2em;
        margin: 30px 0;
    }

}